<section class="home section">
  <div class="home__container container grid">
    <div class="home__data">
      <h1 class="section__title">
        Choose Your
        <div class="home__title-box">
          Best
          <div>Yoga</div>
        </div>
        Teacher
        <img ngSrc="assets/img/star-img.svg" alt="Home page image" height="50" width="50" />
      </h1>
      <p class="home__description">
        Calm your mind and body with the best yoga teachers available, relax your day and stay positive.
        <img ngSrc="assets/img/circle-img.svg" alt="Circle" width="16" height="16" />
      </p>
      <a href="#" class="button button--primary">Get Started Free <i class="ri-arrow-right-line"></i></a>
      <div class="home__box">
        <div>
          <h3>300</h3>
          <span>Classes</span>
        </div>
        <div>
          <h3>400+</h3>
          <span>Participants</span>
        </div>
      </div>
    </div>
    <img ngSrc="assets/img/home-yoga.png" alt="Home image" width="1000" height="1337" class="home__img" priority />
  </div>
</section>
