.footer {
  background-color: var(--first-color-dark);
  color: var(--text-color-light);
  padding-block: 3rem;
}

.footer__container,
.footer__content,
.footer__data {
  row-gap: 2.5rem;
}

.footer__content {
  border-bottom: 1px solid var(--text-color-light);
  padding-block: 2.5rem;
}

.footer__logo,
.footer__social-link {
  background: var(--gradient-color);
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
}

.footer__logo,
.footer__title {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.25rem;
}

.footer__logo {
  display: inline-block;
  font-weight: var(--font-medium);
}

.footer__title {
  color: var(--white-color);
}

.footer__social,
.footer__social-link,
.footer__group {
  display: flex;
}

.footer__group {
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
}

.footer__social {
  column-gap: 1.25rem;
}

.footer__social-link {
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

/* For large devices */
@media screen and (min-width: 1152px) {
  .footer {
    padding-block: 5rem 3rem;
  }

  .footer__container {
    row-gap: 3rem;
  }

  .footer__content {
    padding-bottom: 3rem;
  }

  .footer__data {
    column-gap: 4.5rem;
  }

  .footer__logo,
  .footer__title {
    margin-bottom: 2.5rem;
  }

  .footer__group {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__social {
    column-gap: 2.5rem;
  }
}
