<section class="health section">
  <div class="health__container container grid">
    <div class="health__data">
      <h2 class="section__title">Bring Happiness To Good Health!</h2>
      <p class="health__description">
        If you take care of your good health, take care of your mentality and lead a healthy life with positive thoughts
        every day.
      </p>
      <a href="#" class="button button--primary">Let's Start <i class="ri-arrow-right-line"></i></a>
    </div>
    <div class="health__image">
      <img ngSrc="assets/img/health-fitness.png" alt="Health image" width="1000" height="1164" class="health__img" />

      <div class="health__rate">
        <div class="health__icon">
          <i class="ri-heart-3-fill"></i>
        </div>
        <div class="health__group">
          <span class="health__title"> Heart Rate </span>
          <span class="health__number">168 bpm</span>
        </div>
      </div>

      <div class="health__course">
        <div class="health__group">
          <span class="health__number">500+</span>
          <span class="health__title">Free Courses</span>
        </div>
      </div>
    </div>
  </div>
</section>
