.join__input,
.button {
  width: 100%;
  outline: none;
  border: none;
}

.join__input {
  padding: 1.5rem;
  border-radius: 3rem;
  margin-bottom: 0.75rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.join__input::placeholder {
  color: var(--text-color-light);
}

.button {
  justify-content: center;
  box-shadow: 0 4px 12px hsla(260, 100%, 52%, 0.3);
  padding-block: 1.25rem;
  cursor: pointer;
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .join__content {
    padding-inline: 3rem;
  }

  .join__form {
    display: flex;
    column-gap: 1rem;
    background-color: var(--white-color);
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-radius: 4rem;
  }

  .join__input {
    padding: 0;
    margin: 0;
  }

  .button {
    padding-block: 1rem;
    width: initial;
  }
}
