<section class="follow section">
  <div class="follow__container container grid">
    <div class="follow__content-1">
      <div class="follow__data">
        <h2 class="section__title follow__title">
          Follow Us On Instagram
          <div>#YOGA</div>
        </h2>
        <a href="#" class="button button--primary button--circle">Follow<i class="ri-arrow-right-line"></i></a>
      </div>
      <img ngSrc="assets/img/follow-yoga-1.png" alt="Follow image" width="550" height="825" class="follow__img-1" />
      <img ngSrc="assets/img/follow-yoga-2.png" alt="Follow image" width="550" height="825" class="follow__img-2" />
    </div>
    <div class="follow__content-2">
      <img ngSrc="assets/img/follow-yoga-3.png" alt="Follow image" width="1076" height="550" class="follow__img-3" />
      <img ngSrc="assets/img/follow-yoga-4.png" alt="Follow image" width="1076" height="550" class="follow__img-4" />
    </div>
  </div>
</section>
