.follow__title div {
  background: var(--gradient-color);
  color: transparent;
  background-clip: text;
  --webkit-background-clip: text;
}

.button--circle {
  margin-bottom: 2rem;
}

.follow__content-1,
.follow__content-2 {
  display: grid;
  justify-self: center;
}

.follow__content-1 img,
.follow__content-2 img {
  border-radius: 12.5rem;
  border: 5px solid var(--first-color-light);
}

.follow__content-1 {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  justify-content: center;
}

.follow__data {
  text-align: center;
  grid-column: 1 / -1;
}

.follow__img-1,
.follow__img-2 {
  width: 140px;
}

.follow__img-2 {
  margin-top: 2.5rem;
}

.follow__content-2 {
  row-gap: 2rem;
}

.follow__img-3,
.follow__img-4 {
  width: 230px;
}

.follow__img-3 {
  transform: translateX(-2.5rem) rotate(15deg);
}

.follow__img-4 {
  transform: translateX(2.5rem) rotate(-15deg);
}
