<section id="list" class="list section">
  <div class="list__container container grid">
    <div class="list__content">
      <h2 class="list__number">#01</h2>
      <div class="list__blob">
        <img ngSrc="assets/img/list-yoga.png" alt="list section image" width="800" height="498" />
      </div>
    </div>
    <div class="list__data">
      <p class="list__description">
        Get a list of specific influencers in your niche at your fingertips so you can focus on managing your status.
        <img ngSrc="assets/img/star-2-img.svg" alt="list description image" width="65" height="74" />
      </p>
      <a href="#" class="button button--secondary"
        >Next <i class="ri-arrow-right-line"></i>
        <img ngSrc="assets/img/ellipse-img.svg" alt="button image" width="150" height="143"
      /></a>
    </div>
  </div>
</section>
