/* You can add global styles to this file, and also import other style files */
@import 'remixicon/fonts/remixicon.css';

/* ====== FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Poppins:wght@400;500&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(260, 100%, 66%);
  --second-color: hsl(328, 100%, 66%);
  --gradient-color: linear-gradient(75deg, var(--second-color) 12%, var(--first-color) 90%);
  --first-color-light: hsl(260, 88%, 92%);
  --first-color-dark: hsl(260, 80%, 16%);
  --title-color: hsl(260, 80%, 18%);
  --text-color: hsl(260, 24%, 32%);
  --text-color-light: hsl(260, 16%, 65%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(260, 100%, 97%);
  --container-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 100%, 0.3);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Lora', serif;
  --biggest-font-size: 2.75rem;
  --bigger-font-size: 2rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-regular);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

/*========== Variables Dark theme ==========*/

body:has(.wrapper.dark-theme) {
  --title-color: hsl(260, 64%, 85%);
  --text-color: hsl(260, 20%, 65%);
  --body-color: hsl(260, 64%, 10%);
  --container-color: hsl(260, 32%, 24%);
}

/*==========
	Color changes in some parts of
	the website, in dark theme
==========*/
.wrapper.dark-theme .blur-header::after,
.wrapper.dark-theme .nav__menu {
  background-color: hsla(0, 0%, 10%, 0.3);
}

.wrapper.dark-theme .list__blob {
  background-color: var(--container-color);
}

.wrapper.dark-theme :is(.follow__content-1, .follow__content-2) img {
  border: 5px solid var(--container-color) !important;
}

.wrapper.dark-theme .join__input {
  color: hsl(260, 80%, 18%);
}

.wrapper.dark-theme footer {
  background-color: var(--body-color);
}

:has(.wrapper.dark-theme)::-webkit-scrollbar {
  background-color: hsl(260, 32%, 15%);
}

:has(.wrapper.dark-theme)::-webkit-scrollbar-thumb {
  background-color: hsl(260, 16%, 25%);
}

:has(.wrapper.dark-theme)::-webkit-scrollbar-thumb:hover {
  background-color: hsl(260, 16%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== BUTTON ===============*/
.buttons {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 1rem 1.8rem;
  border-radius: 4rem;
  font-weight: var(--font-medium);
}

.button.button--primary {
  background: var(--gradient-color);
  color: var(--white-color);
}

.button.button--secondary,
.button.button--secondary i {
  background: var(--gradient-color);
  color: transparent;
  background-clip: text;
  --webkit-background-clip: text;
}

.button.button--circle {
  flex-direction: column;
  row-gap: 0.5rem;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  margin-bottom: 2rem;
}

.button i.ri-arrow-right-line {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.button:hover i.ri-arrow-right-line {
  transform: translateX(0.25rem);
}

/*=============== SCROLL BAR ===============*/
&::-webkit-scrollbar,
:has(.wrapper.dark-theme)::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

&::-webkit-scrollbar-thumb,
:has(.wrapper.dark-theme)::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

&::-webkit-scrollbar {
  background-color: hsl(260, 16%, 75%);
}

&::-webkit-scrollbar-thumb {
  background-color: hsl(260, 16%, 65%);
}

&::-webkit-scrollbar-thumb:hover {
  background-color: hsl(260, 16%, 55%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 345px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */

@media screen and (min-width: 576px) {
  .container:not(.footer__container) {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .wrapper.dark-theme .nav__menu {
    background-color: transparent;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  /*fix*/
  .wrapper .section__title:not(.follow__title, .join__title) {
    text-align: initial;
  }

  .container:not(.join__container, .follow__container, .footer__container) {
    grid-template-columns: repeat(2, 400px);
    align-items: center;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 1.5rem;
  }

  .section__title {
    margin-bottom: 2.5rem;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
